@font-face {
  font-family: 'IRANSans-web';
  src: url("fonts/IRANSans-Bold-web.eot");
  src: url("fonts/IRANSans-Bold-web.eot?#iefix") format("eot"), url("fonts/IRANSans-Bold-web.woff2") format("woff2"), url("fonts/IRANSans-Bold-web.woff") format("woff"), url("fonts/IRANSans-Bold-web.ttf") format("ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'IRANSans-web';
  src: url("fonts/IRANSans-Medium-web.eot");
  src: url("fonts/IRANSans-Medium-web.eot?#iefix") format("eot"), url("fonts/IRANSans-Medium-web.woff2") format("woff2"), url("fonts/IRANSans-Medium-web.woff") format("woff"), url("fonts/IRANSans-Medium-web.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'IRANSans-web';
  src: url("fonts/IRANSans-UltraLight-web.eot");
  src: url("fonts/IRANSans-UltraLight-web.eot?#iefix") format("eot"), url("fonts/IRANSans-UltraLight-web.woff2") format("woff2"), url("fonts/IRANSans-UltraLight-web.woff") format("woff"), url("fonts/IRANSans-UltraLight-web.ttf") format("ttf");
  font-weight: 200;
}

@font-face {
  font-family: 'IRANSans-web';
  src: url("fonts/IRANSans-Light-web.eot");
  src: url("fonts/IRANSans-Light-web.eot?#iefix") format("eot"), url("fonts/IRANSans-Light-web.woff2") format("woff2"), url("fonts/IRANSans-Light-web.woff") format("woff"), url("fonts/IRANSans-Light-web.ttf") format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: 'IRANSans-web';
  src: url("fonts/IRANSans-web.eot");
  src: url("fonts/IRANSans-web.eot?#iefix") format("eot"), url("fonts/IRANSans-web.woff2") format("woff2"), url("fonts/IRANSans-web.woff") format("woff"), url("fonts/IRANSans-web.ttf") format("ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'IRAN-web';
  src: url("fonts/IRANBold.eot");
  src: url("fonts/IRANBold.eot?#iefix") format("eot"), url("fonts/IRANBold.woff2") format("woff2"), url("fonts/IRANBold.woff") format("woff"), url("fonts/IRANBold.ttf") format("ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'IRAN-web';
  src: url("fonts/IRAN_SemiBold.eot");
  src: url("fonts/IRAN_SemiBold.eot?#iefix") format("eot"), url("fonts/IRAN_SemiBold.woff2") format("woff2"), url("fonts/IRAN_SemiBold.woff") format("woff"), url("fonts/IRAN_SemiBold.ttf") format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: 'IRAN-web';
  src: url("fonts/IRANBlack.eot");
  src: url("fonts/IRANBlack.eot?#iefix") format("eot"), url("fonts/IRANBlack.woff2") format("woff2"), url("fonts/IRANBlack.woff") format("woff"), url("fonts/IRANBlack.ttf") format("ttf");
  font-weight: 900;
}

@font-face {
  font-family: 'IRAN-web';
  src: url("fonts/IRAN.eot");
  src: url("fonts/IRAN.eot?#iefix") format("eot"), url("fonts/IRAN.woff2") format("woff2"), url("fonts/IRAN.woff") format("woff"), url("fonts/IRAN.ttf") format("ttf");
  font-weight: normal;
}

*{
  font-family: "IRANSans-web"
}

.img-thumbnail{
  max-height: 280px;
  min-height: 280px;
}